tool:
  users:
    user:
      # sync this user's config from a dotfiles repo available as
      # salt://dotconfig/<user>/kitty or salt://dotconfig/kitty
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false
